In [ ]:
#1- Descreve o resultado de s
import pandas as pd
dados = {'A': 5, 'B': 3, 'D': 7}
s = pd.Series(dados).reindex(['A','B','C','D'])
#O rótulo ’C’ aparece com NaN por não existir no dicionário

In [ ]:
#2- x, y, z em que  X > 0 ou Y < 0 e, ao mesmo tempo, Z não é nulo
df[((df['X'] > 0) | (df['Y'] < 0)) & (df['Z'].notna())]

In [ ]:
#3- df com colunas Dept e Sal, retornando uma Series indexada por Dept
df.groupby('Dept')['Sal'].mean()

In [ ]:
#4- Fatiamento de df
(loc vs iloc)
#  loc é inclusivo no limite superior quando fatia por rótulos; 
# iloc é exclusivo no limite superior.

In [ ]:
#5- remove a coluna 'bonus' de df e retorna a Series removida
df.pop('bonus')

In [ ]:
#6- As colunas passam a ser os anos; as linhas, as cidades.
df2 = df.set_index(['cidade','ano'])
tabela = df2['vendas'].unstack('ano')

In [ ]:
#7